* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}
body {
  font-family: "Rubik", sans;
}

.error {
  color: red;
  font-size: 12px;
}

.uniform-image-size {
  width: 300px !important; /* Desired fixed width */
  height: 200px !important; /* Desired fixed height */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover; /* This property ensures the image covers the area without distorting its aspect ratio */
}

.card-wrapper {
  background-color: white;
  box-shadow: 0px 0px 10px #0000001a;

  padding: 15px 0px;
}
a {
  text-decoration: none;
  display: inline-block;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.circle-badge {
  position: absolute;
  top: -10px;
  right: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #6c757d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover {
  background-color: var(--color-febd69);
  color: 0#131921;
}

/* Search section start here */
.no-border-search input {
  border: none !important; /* Use !important to ensure override */
}
/* Search section end here */

/* Container styles */

.marqueeInnerWrapper {
  padding: 20px;
  background-color: var(--color-f5f5f7); /* Light grey background */
  overflow: hidden; /* Ensure no overflow */
}

.brandItem {
  margin: 0px 40px;
}

.brandItem img {
  width: 100%; /* Make images fully fill the container */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

/* Single Product Starts Here */
@media (max-width: 699px) {
  .single-pord_mobile-flex-direction {
    flex-direction: column-reverse;
  }

  .w-100-mobile {
    width: 100%;
  }

  @media (max-width: 576px) {
    .button-mobile-small {
      padding: 5px 10px;
      font-size: 12px;
    }
    .single-product__hide-btn-mobile {
      display: none !important;
    }
  }
}

/* Single Product Ends Here */
