/* Main Product Page */

.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-inner-wrapper .review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-inner-wrapper .review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}

.review-inner-wrapper .review-head p,
.review-inner-wrapper .review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
  font-size: 14px;
  color: var(--color-777777);
}

.main-product-wrapper .row .zoom-image-section {
  background-color: white;
  padding: 10px 5px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px #0000001a; */
}
.image-flex {
  display: flex;
  flex-wrap: wrap;
}
.image-flex > div {
  width: 50%; /* Each item takes half of the container's width */
  padding: 5px; /* Optional: Adjust padding for spacing */
}

.main-product-details {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}

.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-product-details a.review-btn,
.t-review {
  color: var(--color-777777);
  font-size: 13px;
}

.product-heading {
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}

.product-data {
  font-size: 13px;
  color: var(--color-777777);
  margin-bottom: 0px;
}

.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
}
/* End Main Product Page */
