/* Product Card */
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product-card .product-image {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-card .product-image img {
  object-fit: contain; /* Keeps the image's aspect ratio */
  max-height: 100%; /* Ensures the image's maximum height is the container's height */
  max-width: 100%; /* Ensures the image's maximum width is the container's width */
}

.product-card .product-image > img:last-child {
  display: none;
}

.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image > img:last-child {
  display: block;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

/* Product Card ends here */
